body{
    background-color: #18191a ;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 80px
}

.navbar .logo{
    width: 181px;
    height: 20px;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 420px; */
    /* background-color: green; */
    width: 100%;
}

.navbar input{
    border: 2px solid GRAY;
    background-color: transparent;
    color: white;
    border-radius: 15px;
    height: 30px;
    width: 230px;
    font-size:larger ;    
}

.b1{
    height: 40px;
    width: 170px;
    border-radius: 25px;
    background-color: aqua;
    color: black;
    font-size: larger;
}

.b2{
    height: 40px;
    width: 170px;
    border-radius: 25px;
    background-color: red;
    color: white;
    font-size: larger;
}

.img1{
    width: 100%;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.autoBiography{
    position: relative;
    width: 60%;
    background-color: rgb(210, 2, 2);
    margin-top: 50px;
    margin-bottom: 50px;
}

.autoBiography .main-p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-size: 16px;
    align-items: center;
    padding: 10px 20px;
}

.autoBiography .chapter{
    position: absolute;
    top: 0%;
    left: 50%;
    background-color: black;
    color: white;
    font-weight:bold;
    width: fit-content;
    padding: 10px;
    margin: 0px;
    transform: translate(-50%, -50%);
}


/* .inLine p{
    color: white;
    background-color: black;
    font-size: 30px;
    width: 220px;
    font-weight: bolder;
    padding: 10px;
}

.inLine{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 500px;
    background-color: red;
}

.foot{
    margin-top: 100px;
}

.foot footer ol{
    color: white;
    line-height: 1.8;

}


.foot footer ol h1{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}

.foot footer ol input{
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}